.speechIcon{
    width:130px;
    margin-top:-35px;
    /* background-color:#f8568c; */
    background-color:#001aab;
    border-radius:50%;
}
.marginExtra{
    margin-bottom: 10%;
    margin-Top:2%;
  
}